<!-- <div class="row col-md-6">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  
    <div class="form-group">
      <label>
        First Name:
        <input type="text" formControlName="fullName" >
      </label>
      <span *ngIf="!profileForm.get('fullName').valid && profileForm.get('fullName').touched" class="help-block">Please Enter A valid Name</span>
    </div>
   
    <div class="form-group">
      <label>
        User Name:
        <input type="text" formControlName="userName">
      </label>
      <span *ngIf="!profileForm.get('userName').valid && profileForm.get('userName').touched" class="help-block">Please Enter A valid User Name</span>
    </div>
    
    <div class="form-group">
      <label>
        Email:
        <input type="text" formControlName="email">
      </label>
      <span *ngIf="!profileForm.get('email').valid && profileForm.get('email').touched" class="help-block">Please Enter A valid Email</span>
    </div>
    <button [disabled]="!profileForm.valid">Submit</button>
    </form>
</div>

<div class="col-md-6">
  <app-user-list ></app-user-list>
</div> -->
